body{
	background-color: #f3f3f3;
	font-family: 'Roboto', sans-serif;
	font-family: 'Prata', serif;
	font-weight: 300;
	height: 100vh;
	
  font-family: bd-supper, sans-serif;
	font-size: 1.7rem;

}
h1{
	font-size: 5rem;
	margin-top: 2.5rem;
	text-align: center;
	color: #2f2d30;
}
h2{
	margin-top: 8px;
	text-align: center;
	color: #ef5024;
}
div{
	text-align: center;
}
h3{
	padding-top: 80px;
	color: #3e7ec1;
}
ul{
	margin: 2rem auto;
	width: 80%;
	list-style: hiragana-iroha;
}
ul li{
	font-size: 0.8rem;
	line-height: 50px;
}
